.home {
    min-height: 100vh;
    background-image: url('/Imagens/tela_fundo.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
}

div {
    color: blue;
    text-align: center;
}