.dashboard {
    display: flex;
    min-height: 100vh;
    background: #f7cfe0;
}

.sidebar {
    width: 230px;
    background: #8fd3e8;
    padding: 20px;
}

.logo {
    width: 120px;
    display: block;
    margin: auto;
    margin-bottom: 30px;
}

.sidebar nav {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.sidebar a {
    text-decoration: none;
    color: black;
    padding: 12px;
    border-radius: 10px;
}

    .sidebar a:hover,
    .sidebar .ativo {
        background: white;
    }

.conteudo {
    flex: 1;
    padding: 30px;
}

.cards-topo {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.card-faturamento {
    background: #8ae0a2;
    border-radius: 25px;
    padding: 30px;
    text-align: center;
}

    .card-faturamento span {
        font-size: 50px;
        font-weight: bold;
    }

.card-grafico {
    background: white;
    border-radius: 20px;
    padding: 20px;
}

.grafico {
    display: flex;
    align-items: flex-end;
    height: 220px;
    gap: 10px;
}

    .grafico div {
        flex: 1;
        background: #4d8cff;
        border-radius: 8px 8px 0 0;
    }

.cards-baixo {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.card-lista {
    background: white;
    border-radius: 20px;
    padding: 20px;
}

.produto {
    display: flex;
    justify-content: space-between;
    margin: 15px 0;
}
