/* Layout Principal */
.painel-principal {
    display: flex;
    min-height: 100vh;
    background: #f7cfe0;
}

/* Menu Lateral */
.menu-lateral {
    width: 230px;
    background: #8fd3e8;
    padding: 20px;
}

.imagem-logo {
    width: 120px;
    display: block;
    margin: auto;
    margin-bottom: 30px;
}

.links-menu {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

    .links-menu a {
        text-decoration: none;
        color: black;
        padding: 10px;
        border-radius: 8px;
    }

.link-ativo {
    background: white;
    font-weight: bold;
}

/* Conteúdo */
.conteudo-pagina {
    flex: 1;
    padding: 30px;
}

/* Blocos (Cards) */
.bloco-formulario, .bloco-tabela {
    background: white;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}

/* Campos de entrada */
.campo-entrada {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Botão */
.botao-acao {
    padding: 10px 20px;
    background: #8fd3e8;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}

    .botao-acao:hover {
        background: #6fc2db;
    }

/* Mensagem */
.texto-mensagem {
    margin-top: 10px;
    font-weight: bold;
    color: #333;
}

/* Tabela Simples */
.tabela-simples {
    width: 100%;
    border-collapse: collapse;
    text-align: left;
}

    .tabela-simples th {
        background: #8fd3e8;
        padding: 10px;
    }

    .tabela-simples td {
        padding: 10px;
        border-bottom: 1px solid #ddd;
    }
